@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span>Hoşgeldiniz</span>
    <span class="mx-lg-4 mx-md-2  mx-1">
        <a href="/Login/Login">
            <i class="fas fa-lock"></i> Giriş Yap
        </a>
    </span>
    <span>
        <a href="/RegisterUser/Index">
            <i class="far fa-user"></i> Kayıt Ol
        </a>
    </span>
</div>
