@using Entity.Concrate
@model List<MessageTwo> 
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Giden Kutusu</h1>
<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Konu</td>
                    <td>Alıcı</td>
                    <td>Tarih</td>
                    <td>Mesajı Aç</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Subject</td>
                        <td>@item.ReceiverUser.Name</td>
                        <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                        <td><a href="/Message/MessageDetails/@item.Id" class="btn btn-primary">Mesajı Aç</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur</a>

    </div>
</div>
