@using Entity.Concrate
@model List<Category>
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kategori Adı</th>
                        <th>Kategori Açıklaması</th>
                        <th>Detayları</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           r <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Status</td>
                            <td><button class="btn btn-danger">Sil</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

