@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Entity.Concrate.Category>
@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Name</td>
            <td><a  href="/Admin/Category/CategoryDelete/@item.Id/" id="DeleteBtn" onclick="return confirm('Silmek istediğinize emin misiniz?');" class="btn btn-success">Sil</a></td>
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Category/AddCategory/" class="btn btn-outline-success col-12">Yeni Kategori</a>
<br /><br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page }))